@media screen and (min-width: 768px) and (max-width: 950px) {

    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }

    .blog {
        flex-direction: column;
    }

    .project-item {
        padding: 6px;
        margin-top: 61px;
    }

    .header {
        height: 100vh;

    }



}

@media screen and (max-width: 786px) {
    .name {
        font-size: 20px;
    }

    .navbar {
        flex-direction: column;
        display: flex;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header .con {
        flex-direction: column;
        width: 100%;
    }

    .header-content {
        width: 100%;

        text-align: center;
    }

    .social-media {
        margin: auto;
    }

    .contact-form-grid {
        display: unset !important;

    }

    .services {
        margin-top: 150px;
    }

    .services .services-grid {
        display: unset;

    }

    .container {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    ul li a {
        font-size: 15px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .input-head input {
        padding: 1px;
        height: 25px;

    }

    .left-sec {
        display: none;
    }

    .blog {
        flex-direction: column;
    }

    .project .project-item h3:after {
        top: 67px;
    }

    .project-item h3 {
        margin-top: 23px;
    }

    .project-item {
        padding: 6px;
        margin-top: 61px;
    }

    .project {
        padding-inline: 33px;
        margin-top: 150px;
    }

    .item-main-image {
        width: 350px;
        height: 340px;


    }
    .blog{
        font-size: 15px;
    }
    .container {
        width: 100%;
    }

    .main-item {
        padding-top: 10px;
    }

    .loader {
        width: 400px;
        height: 373px;
        top: 15px;

    }

    .contact-form-content {
        margin-top: 170px;
        padding:  0;
    }

    .contact-form.container {
        width: 100%;
        margin: auto;
    }


}